<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="parser" class="ioc14.SAXParserFactoryBean"></bean>

    <bean id="date" class="ioc14.DateFactoryBean">
        <property name="year" value="2018"></property>
        <property name="month" value="01"></property>
        <property name="day" value="01"></property>
    </bean>

</beans>