<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="otherBean" class="ioc11.OtherBean">
        <property name="name" value="admin"></property>
    </bean>

    <bean id="ob" class="ioc11.OtherBean">
        <property name="name" value="alice"></property>
    </bean>

    <!--<bean id="someBean" class="ioc11.SomeBean">-->
        <!--<property name="otherBean" ref="otherBean"></property>-->
    <!--</bean>-->
    <!--<bean id="someBean" class="ioc11.SomeBean" autowire="byType"></bean>-->
    <bean id="someBean" class="ioc11.SomeBean" autowire="byName"></bean>

</beans>