<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="someBean" class="ioc15.SomeBean">
        <property name="name" value="adMin"></property>
    </bean>
    <bean id="otherBean" class="ioc15.OtherBean">
        <property name="name" value="JAck"></property>
    </bean>

    <bean class="ioc15.SomeBeanPostProcessor"></bean>
</beans>