<component name="ArtifactManager">
  <artifact type="war" name="springmvc_hp:war">
    <output-path>$PROJECT_DIR$/springmvc_hp/target</output-path>
    <root id="archive" name="springmvc-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_hp:war exploded" />
    </root>
  </artifact>
</component>